@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variables */
:root {
  --font-family: "Roboto", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #fcfcfc;
  --primary-color: #4756df;
  --secondary-color: #ff7235;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}

/** reset defaults **/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

body {
  font-family: var(--font-family);
}

.main-nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.main-nav__title {
    color: var(--primary-color);
}

.navigation {
    display: flex;
    gap: 1.9rem;
}

.navigation a {
    color: var(--primary-color);
    transition: var(--transition);
}

.navigation a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}
  
.navigation ul li {
    font-weight: var(--bold-font);
}

canvas {
    /* background-color: black; */
    border: 0.5rem solid lightgray;
    margin-bottom: 1.5rem; /* Space between canvas and button */
}

.container {
    display: flex;
    flex-direction: column; /* Align items in a column */
    align-items: center; /* Center horizontally */
    margin: 5rem auto 0; /* 5rem margin-top, auto horizontal centering */
    max-width: 100%; /* Ensure the container does not overflow */
    text-align: center; /* Center text within the container */
}
