/* styles.css */

body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.container {
    position: relative;
    height: 100%;
    width: 100%;
}

/* canvas {
    display: block;
    width: 100%;
    height: 100%;
    background: white;
} */

.toolbar {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #fff;
    border-radius: 8px;
    border: 1px solid lightgray;
    padding: 3px 10px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
    transform: translateX(0);
    max-width: calc(100% - 20px); /* Ensure toolbar does not extend beyond viewport */
}

.toolbar.hidden {
    transform: translateX(100%);
}

.toolbar-button {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 3px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s ease, border 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}

.toolbar-button:hover {
    background: #f0f0f0;
    border-color: #ccc;
}

#color-picker {
    width: 30px;
    height: 30px;
    padding: 0;
    border: none;
}

#thickness-picker {
    width: 60px;
}

.toolbar-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 12px;
    cursor: pointer;
    font-size: 18px;
    z-index: 1001;
    transition: background 0.3s ease;
}

.toolbar-toggle:hover {
    background: #555;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .toolbar {
        top: auto;
        top: 0;
        right: 0;
        width: 90%;
        max-width: none;
        padding: 10px;
        box-shadow: none;
        border-radius: 0;
        flex-direction: row;
        overflow-x: auto;
    }

    .toolbar-button {
        width: 30px;
        height: 30px;
        font-size: 12px;
    }

    #color-picker {
        width: 30px;
        height: 30px;
    }

    #thickness-picker {
        width: 60px;
    }

    .toolbar-toggle {
        top: 10px;
        right: 10px;
        font-size: 18px;
        padding: 12px;
    }
}
